{% extends "meetings/admin_base_dashboard.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">

      <h3>Meetings in {{ area }}</h3>
  
{% if meetings %}

{% for meeting  in meetings %}

<div id="accordion">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#{{ meeting.id}}">
        <h6>Topic of the meeting is: {{ meeting.topic }}</h6>
      </a>
    </div>
    <div id="{{ meeting.id}}" class="collapse hide" data-parent="#accordion">
      <div class="card-body">
        <h6>Area of the meeting is: </h6> <p> {{ meeting.area }}</p>

         <h6>Title of the meeting is:</h6>  <p> {{ meeting.title }}</p>
        <h6>Information About the meetings: </h6><p>{{ meeting.about_meeting }}</p>

       <h6>Date of the meeting: </h6> <p>{{ meeting.date|date }}</p>

        <h6>Time of the meeting: </h6><p>{{ meeting.time|time }}</p>


        <div>
        <a class="btn btn-primary" href="http://127.0.0.1:8000/delete/{{meeting.id }}" role="button">Delete Meeting</a>
        <a class="btn btn-primary" href="http://127.0.0.1:8000/update/{{meeting.id }}" role="button">Update Meeting</a>
       </div>
  
      </div>
    </div>
  </div>
</div>

      {% endfor %}

           {% else %}
        <p>Sorry, There is no meeting in this area yet.</p>
        {% endif %}       


    </div>
{% endblock content %}
