{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'meetings/home_page.css' %}">

   
        <title>MarketerMeet</title>
    
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home-page' %}">MarketerMeet</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">

            <a class="nav-item nav-link" href="{% url 'home-page' %}">Home</a>

             <a class="nav-item nav-link" href="{% url 'about-page' %}">About</a>
             {% comment %}

             <a class="nav-item nav-link" href="{% url 'show-all-meetings' %}">Meetings</a>

             {% endcomment %}

            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
             
              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'index' %}">Dashboard</a>

                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                 <li class="nav-item dropdown">

                  
        
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-2">
          <div>
           
          </div>
        </div>
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

           <header class="mb-4">
                            <!-- Post title-->
                            <header>
                            </br>
                        </br>

                          <p class="text-danger font-weight-bold">Attention marketer!</p>

          <h6 class="fw-bolder mt-5 mb-5  font-weight-bold">65% of marketers say generating traffic and leads is their top challenge.</h6>

        <h1 class="fw-bolder mt-5 mb-5  font-weight-bold">Easy new way to Get more traffic and leads to your business</h1>
  
  <h6 class="fw-bolder mt-5 mb-5  font-weight-bold">
You are going to discover a new way that will helps you get more traffic and leads to your business so that you can make more money almost overnight
</h6>

<h6 class="fw-bolder mt-5 mb-5  font-weight-bold">

  “Master the topic, the message, and delivery” Steve Jobs.
</h6>
                           
            </header>

       
 

<p class="fw-bolder mt-5 mb-5">
 Dear fellow Marketer,

</p>
<p class="fw-bolder mt-5 mb-5">

Did you know that 65% of marketers say generating traffic and leads is their top challenge?


</p>

<p class="fw-bolder mt-5 mb-5">
 If you are not getting traffic and leads your business will suffer because without them you will not sell your product and make a profit...

</p>
<p class="fw-bolder mt-5 mb-5">

Without profit...you will go out of business sooner or later it’s just a matter of time.


</p>
<p class="fw-bolder mt-5 mb-5">
 or If you are not getting enough traffic and leads then you will not make enough money to pay your bills...

</p>
<p class="fw-bolder mt-5 mb-5">

So your business success as a marketer depends on having enough traffic and leads…


</p>
<p class="fw-bolder mt-5 mb-5">
 With more traffic and leads...you will grow your business and take it to the next level...

</p>
<p class="fw-bolder mt-5 mb-5">
Having enough traffic and leads will make your business grow and save you from going out of business….



</p>
<p class="fw-bolder mt-5 mb-5">
 Or if you are a marketer who works at a company…

</p>
<p class="fw-bolder mt-5 mb-5">
 
Then having enough traffic and leads will make your company grow and pay its bills so you do not have to worry about where you will work next if your current company goes out of business...



</p>
<p class="fw-bolder mt-5 mb-5">
 Your life depends on getting traffic and leads because without them you will not make enough money for yourself and your family and your company.

</p>
<p class="fw-bolder mt-5 mb-5">
Lead generation is a hard process and sometimes your effort for generating leads maybe works or maybe not…



</p>
<p class="fw-bolder mt-5 mb-5">
 Maybe you are running paid Ads for generating leads for your business and you are not getting results from your campaigns…

</p>
<p class="fw-bolder mt-5 mb-5">
Or even you are trying to generate leads through cold emails…and you are not getting engouth leads...



</p>
<p class="fw-bolder mt-5 mb-5">
 So how to get more traffic and leads to your business?

</p>
<p class="fw-bolder mt-5 mb-5">
you can improve your lead generation process and improve your ads so that you can get the maximum results from your efforts…



</p>
<p class="fw-bolder mt-5 mb-5">
 You can ask other marketer how they are getting traffic and leads in their businesses...

</p>
<p class="fw-bolder mt-5 mb-5">

For these reasons we have created an online platform that will allow you to meet other  marketers so that you can:


</p>

<ul>
  <li>Learn from them how they are generating leads in their businesses...so you can get more traffic and leads to your business...which means you will get more clients and more money…
</li>
</br>
  <li>Learn from them how they are running ads for generating leads...so you can make your ads better...which means you will get a high opt-in rate…
</li>
</br>
  <li>How they are doing their funnels...so that you can know what is working and what is not working...so you can model them which means that you will increase your conversion rate…</li>
</br>
  <li>You will help each other to write better ads and optimize your funnels so you can get someone to review your ads and improve them with you which means you will have better ads…
</li>
</br>
<li>you will help each other to solve your business problems so you can get new ways to solve your current problems which means you will solve your problems fast almost overnight…
</li>
</br>

<li>you will help each other make better processes for generating leads so you can get more leads and clients to your business which means you can grow it and scale it super fast…</li>
</br>
<li>And so much more…
</li>
</br>
</ul>

 <h2 class="fw-bolder mt-5 mb-5  font-weight-bold">How It will work...</h2>




<p class="fw-bolder mt-5 mb-5">
 Each week you will meet with two other marketers on zoom call…
</p>
<p class="fw-bolder mt-5 mb-5">
You will tell them how you are getting traffic and leads…



</p>
<p class="fw-bolder mt-5 mb-5">
 They will tell you how they are getting traffic and leads too…
</p>
<p class="fw-bolder mt-5 mb-5">
You will help each other to improve your lead generation process…



</p>

<p class="fw-bolder mt-5 mb-5">
 You will help each other to write better ads and how to improve your current ads…

</p>
<p class="fw-bolder mt-5 mb-5">

You will tell them what are your current problems and they will advise you on how to solve them…


</p>
<p class="fw-bolder mt-5 mb-5">
 You do not have to be alone in your business journey...

</p>
<p class="fw-bolder mt-5 mb-5">

Just create an account and then...


</p>

<p class="fw-bolder mt-5 mb-5">
 login to your account and see if you are an admin or a user…

</p>
<p class="fw-bolder mt-5 mb-5">

If you are a user then you will get a zoom link of the meeting in your account and if you did not find it wait until the admin will publish it...


</p>
<p class="fw-bolder mt-5 mb-5">
 If you find yourself an admin then you need to create a zoom meeting so that the other users with you in the group can join…

</p>
<p class="fw-bolder mt-5 mb-5">
just create a zoom meeting and then publish it on your dashboard…



</p>

<p class="fw-bolder mt-5 mb-5">
just create a zoom meeting and then publish it on your dashboard…

</p>

<a class="btn btn-danger btn-lg btn-block" href="{% url 'register' %}" role="button">Join Now</a>

</br>
</br>
        </div>
        <div class="col-md-2">
          <div >
           
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
