






<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


   
        <title>meet</title>
    
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home-page' %}">meet</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">

            <a class="nav-item nav-link" href="{% url 'home-page' %}">Home</a>

             <a class="nav-item nav-link" href="{% url 'about-page' %}">About</a>
             {% comment %}

             <a class="nav-item nav-link" href="{% url 'show-all-meetings' %}">Meetings</a>

             {% endcomment %}

            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
             
              {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'index' %}">Dashboard</a>

                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                 <li class="nav-item dropdown">

                  
        
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-2">
          <div>
           
          </div>
        </div>
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
   <div class="content-section">

Attention marketers.

65% of marketers say generating traffic and leads is their top challenge?

<h1 class="fw-bolder mt-5 mb-5">

How to get more traffic and leads so that you can grow you business and double your revenue.

</h1>
You are going to discover a new way that will helps you get more traffic and leads so that you can make more money almost overnight.


 <p class="fs-5 mb-4">
 	Dear Marketer,
</p>
 <p class="fs-5 mb-4">
Did you know that 65% of marketers say generating traffic and leads is their top challenge?
</p>
<p>
So if you are a marketer or business owner then you are too facing this problem…
</p>
<p>
Or you will face it in the future…
</p>
<p>
If you are not getting traffic and leads your business will suffer because without them you will not sell your product and  make a profit.
</p>
<p>
Without  profit  you will go out of business sooner or latter it’s just a matter of time.
</p>
<p>
Also If you are not getting enough traffic and leads then you will not make enough money to pay your bills.
</p>
<p>
So your business success as marketer depend on having enough traffic and leads…
</p>
<p>
With more traffic and leads you will make more money.
</p>
<p>

If you are a business owner then having enough traffic and leads will make your business grow and save you from going out of business….
</p>
<p>
If you are a marketer who work at company then having enough traffic and leads will make your company make more money.
</p>
<p>
Your life depend on getting traffic and leads because without them you will not make enough money for yourself and your family and your company.
</p>
<p>


Lead generation is hard process and sometimes your effort for generating leads maybe works or maybe not…
</p>
<p>

Maybe you are running  Facebook ads for generating leads to  your business and  you are not getting results from your campaigns…
</p>
<p>
Or maybe you are running  YouTube ads and you are not getting results…
</p>
 <p>

Or even you are trying to  generate  leads through cold emails….
</p>
<p>
So how you can improve your lead generation  process and improve your ads so that you can get the maximum results from your efforts…
</p>
<p>
And how you can see how other marketers are generating leads for their businesses…
</p>
<p>
For this reasons we have created an online platform that will allow you to meet other marketers so that you can:
</p>
<p>
Learn from them how they are generating leads in their businesses….
</p>
<p>
Learn from them how they are running ads for generating leads…
</p>
<p>
How they are doing their funnels so that you can know what is working and what is not working….
</p>
<p>
you will help each other to write a better ads and optimize your funnels…
</p>
<p>
you will help each other to solve you business problems…
</p>
<p>
you will help each other make a better processes for generating leads…
</p>
<p>
And so much more….
</p>
<p>
How it works:

</p>
<p>
Just login to your account and see if you are an admin or a user….

</p>
<p>
If you are a user then you will get the zoom link of the meeting in your account and if you did not find it wait until the admin will publish it..
</p>
<p>
If you find yourself an admin then you need to create a zoom meeting so the other users with you in the group can join…
</p>
<p>
 just create a zoom meeting and then publish it on your dashboard…

Create your account now

</p>
<p>



 </div>
        </div>
        <div class="col-md-2">
          <div >
           
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
