{% extends "meetings/user_base_dashboard.html" %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="content-section">

      <h2>Meeting  Detalis</h2></br>
    

    <div class="card">
   <ul class="list-group list-group-flush">

    <li class="list-group-item">

   
 


        <h6>Topic of the meeting is:</h6><p>{{ meeting.topic }}</p>

        <h6>Title of the meeting is:</h6>  <p> {{ meeting.title }}</p>

        {% comment %}
        part of the code responsible for copying the zoom link 

        {% endcomment %}

    <h6>Zoom url of the meeting is:</h6>  
</br>

     <form>
    <div>
      <input type="text" class="form-control"  value="{{ meeting.zoom_url }}"id="yourtext">
    </div>
    </form>
</br>
        <h6>Zoom password of the meetings: </h6><p>{{ meeting.zoom_password }}</p>

       


        <h6>Information About the meetings: </h6><p>{{ meeting.about_meeting }}</p>

       <h6>Date of the meeting: </h6> <p>{{ meeting.date|date }}</p>

        <h6>Time of the meeting: </h6><p>{{ meeting.time|time }}</p>


        <a href="{{ meeting.zoom_url }}" class="btn btn-primary  active" role="button" aria-pressed="true">Open The meeting Link</a>


     <button type="button" class="btn btn-primary" onclick="CopyText()" >Copy Zoom Link</button>
 


















      
        </li>




</ul>
 
</div>

    </div>

{% block scripts %}
<script>
  function CopyText() {
  var text = document.getElementById('yourtext');
  text.select();
  document.execCommand('copy');
  window.confirm("You link has been copied!");

}
</script>
{% endblock scripts %}




{% endblock content %}


