
{% extends "meetings/admin_base_dashboard.html" %}
{% load crispy_forms_tags %}
{% block content %}
   
<div class="content-section">

    <h4>Update The Meeting</h4>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                
                {{ form|crispy }}
           
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update The Meeting</button>
            </div>
        </form>

</div> 


{% endblock content %}
