
{% extends "meetings/user_base_dashboard.html" %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">

{% if messages %}
{% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
</br>
   <h3>Your Meetings:</h3>
   <div class="border-top pt-3"> </div>

    <div class="card">
   <ul class="list-group list-group-flush">

        {% if meetings %}

    
   {% for meeting  in meetings %}
    <li class="list-group-item">

        <h6>Field of the meeting is: </h6> <p> {{ meeting.area }}</p>
        <h6>Topic of the meeting is:</h6><p>{{ meeting.topic }}</p>

        <h6>Title of the meeting is:</h6>  <p> {{ meeting.title }}</p>

        {% comment %}

        <h6>Zoom url is:  </h6><p>{{ meeting.zoom_url }}</p>

        <h6>Information About the meetings: </h6><p>{{ meeting.about_meeting }}</p>

       <h6>Date of the meeting: </h6> <p>{{ meeting.date|date }}</p>

        <h6>Time of the meeting: </h6><p>{{ meeting.time|time }}</p>
         
         {% endcomment%}

         
             <a href="http://127.0.0.1:8000/meeting_details/{{ meeting.id }}" class="btn btn-primary  active" role="button" aria-pressed="true">Meeting Details</a>

        {% comment%}

        <a href="http://127.0.0.1:8000/meeting_details/{{ meeting.id }}">Meeting Details</a>

     </br>

        <a href="{{ meeting.zoom_url }}" class="btn btn-primary  active" role="button" aria-pressed="true">Open The meeting Link</a>

        {% endcomment %}

        {% comment %}

          <a class="btn btn-primary" href="https://dzmeetings.herokuapp.com/delete_student_meeting/{{meeting.id }}" role="button">Delete Meeting</a>

          {% endcomment %}



    {% endfor %}
</li>
    <div>
    {% else %}
        <p>Sorry, There is no meeting  yet.</p>
        {% endif %}
    </div>


{% endblock content %}

 