{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
  <h2>Welcome to the Password Reset Page</h2>
</br>
  <p>
    Forgot your password?
  </p>
<p>
     Please enter the email address you used to register
    with us and we will send you a link to reset your password
</p>
<br/>





 <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Your password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Send Email</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'login' %}">Return to login page</a>
            </small>
        </div>
</div

{% endblock%}
